# PACKAGES

## Install packages

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lythe\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\lythe\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lythe\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lythe\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in c:\users\lythe\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
!pip install numpy
!pip install scipy
!pip install sklearn
!pip install matplotlib

Requirement already satisfied: numpy in c:\users\lythe\anaconda3\lib\site-packages (1.18.1)
Requirement already satisfied: scipy in c:\users\lythe\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lythe\anaconda3\lib\site-packages (from scipy) (1.18.1)
Requirement already satisfied: sklearn in c:\users\lythe\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\lythe\anaconda3\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied: numpy>=1.11.0 in c:\users\lythe\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in c:\users\lythe\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in c:\users\lythe\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: matplotlib in c:\users\lythe\anaconda3\lib\site-packages (3.1.3)
Requirement already satisfied: numpy>=1.11 in c:\users\lythe\anaconda3\lib\site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lythe\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lythe\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\lythe\anaconda3\lib\site-packages (from matplotlib) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lythe\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: setuptools in c:\users\lythe\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (45.2.0.post20200210)
Requirement already satisfied: six in c:\users\lythe\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.14.0)

## Import packages

In [4]:
import pandas as pd
import numpy as np
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

# DATA

## Load data

In [5]:
#load csv file data
ccdefault = pd.read_csv('ccdefault.csv')

List column(variable) names.

In [6]:
list(ccdefault.columns.values)
'''
List of all column values
'''

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'DEFAULT']

Create new dataset without ID variable

In [9]:
# TODO: add all columns to ccd
ccd = ccdefault[ccdefault.columns[1:]]
list(ccd.columns.values)

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'DEFAULT']

## Split data

In [11]:
test_idx = np.random.uniform(0, 1, len(ccd)) <= .333
train = ccd[test_idx == True]
test = ccd[test_idx == False]

In [12]:
train.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
17,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
20,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0

# ANALYSIS

## Specify features used to predict classifications

In [16]:
features = list(ccd.columns.values)

In [17]:
features

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'DEFAULT']

In [18]:
a = ['1', '2']

In [19]:
a

['1', '2']

## Chose n & conduct knn classification

In [20]:
# TODO: number of neighbors
n = 5

results = []

# TODO: set number of neighbors for KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors = n)
clf.fit(train[features], train['DEFAULT'])
preds = clf.predict(test[features])
accuracy = np.where(preds == test['DEFAULT'], 1, 0).sum() / float(len(test))*100

## Print accuracy
Run this first command if you are using Python 3.x

In [21]:
print('Neighbors: %d, Accuracy: %2d%%' % (n, round(accuracy, 2)))

Neighbors: 5, Accuracy: 74%