In [1]:
import math
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
squares = []
for i in range(1, 11):
    squares.append(i**2)
'''
add to the empty array by the square value from 1 to 10
'''

In [3]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [i**2 for i in range(1, 11)]
'''
working the same as above however in comprehension way
'''

In [5]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
squares_by_four = [i**2 for i in range(1, 11) if i**2 % 4 == 0]
# include condition in comprehensions

In [20]:
squares_by_four

[4, 16, 36, 64, 100]

In [21]:
squares_dict = {i: i**2 for i in range(1, 11)}
# i before : -> index
# after : -> value after condition

In [22]:
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
capitals_by_country = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [15]:
capitals_by_country

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [16]:
# TODO: swap key and value
countries_by_capital = {capital: country for country, capital in capitals_by_country.items()}

In [17]:
countries_by_capital

{'Washington, DC': 'United States', 'Paris': 'France', 'Rome': 'Italy'}

In [18]:
sum(i**2 for i in range(1, 11))

385

In [23]:
counting = []

for i in range(1, 11):
    for j in range(1, i+1):
        counting.append(j)

In [24]:
print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
counting = [j for i in range(1, 11) for j in range(1, i+1)]

In [26]:
print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]